---
import { Icon } from "astro-icon/components";

const { href, icon, text } = Astro.props;
---

<a
  class="flex items-center gap-2 text-sm"
  rel="noopener noreferrer"
  target="_blank"
  href={href}
>
  <Icon name={icon} class="size-4" />
  <h6>{text}</h6>
</a>
