---
import { Image } from "astro:assets";

const { basics } = Astro.props;
---

<div class="flex items-center">
  <div class="w-full">
    <h1 class="mb-2 text-5xl font-bold">{basics.name}</h1>
    <h2 class="text-pretty text-lg font-light">{basics.label}</h2>
  </div>
  <figure class="w-auto">
    <Image
      width={36}
      height={36}
      src={basics.image}
      alt="The image of {basics.name}"
      class="w-36 rounded-lg"
    />
  </figure>
</div>
