---
import { basics } from "@/data/cv.es.json";
const { name, label } = basics;
---

<div class="">
  <h1 class="mb-2 text-5xl font-bold">{name}</h1>
  <h2 class="text-pretty text-lg font-light">{label}</h2>
</div>
