---
import type { Interest } from "@/cv";
import TitleCV from "./TitleCV.astro";

interface Props {
  interests: Interest[];
  title: string;
}
const { interests, title } = Astro.props;
---

<TitleCV {title} />
<ul class="space-y-3">
  {
    interests.map(
      ({ name, keywords }: { name: string; keywords: string[] }) => (
        <li>
          <p class="mb-2 text-sm font-semibold">{name}</p>
          <ul>
            {keywords.map((keyword: string) => (
              <li class="font-light">{keyword}</li>
            ))}
          </ul>
        </li>
      ),
    )
  }
</ul>
