---
type Props = {
  languages: Language[];
  title: string;
};

const { languages, title } = Astro.props;
import type { Language } from "@/cv";
import TitleCV from "./TitleCV.astro";
---

<TitleCV {title} />
<ul>
  {
    languages.map(
      ({ language, fluency }: { language: string; fluency: string }) => (
        <li>
          <p class="text-sm font-semibold">
            {language} <span class="font-light">({fluency})</span>
          </p>
        </li>
      ),
    )
  }
</ul>
