---
const { languages } = Astro.props;
import TitleCV from "./TitleCV.astro";
---

<TitleCV>Idiomas</TitleCV>
<ul>
  {
    languages.map(
      ({ language, fluency }: { language: string; fluency: string }) => (
        <li>
          <p class="text-sm font-semibold">
            {language} <span class="font-light">({fluency})</span>
          </p>
        </li>
      ),
    )
  }
</ul>
