---
import type { Reference } from "@/cv";
import TitleCV from "./TitleCV.astro";
import { Icon } from "astro-icon/components";

type Props = {
  references: Reference[];
  title: string;
};

const { references, title } = Astro.props;
---

<TitleCV {title} />
<ul class="space-y-5">
  {
    references.map(
      ({
        name,
        reference,
        company,
      }: {
        name: string;
        reference: string;
        company: string;
      }) => (
        <li class="my-5 ">
          <div class="float-left">
            <Icon name="quote" class="size-6" />
          </div>
          <blockquote class="ml-8 font-normal italic">{reference}</blockquote>
          <h5 class="float-right font-light">
            — {name}, {company}
          </h5>
        </li>
      ),
    )
  }
</ul>
