---
import TitleCV from "./TitleCV.astro";

type Props = {
  summary: string;
  title: string;
};
const { summary, title } = Astro.props;
---

<TitleCV {title} />
<p class="my-1 text-sm">{summary}</p>
