---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@/i18n/utils";
import HeaderLink from "./HeaderLink.astro";
import SocialIcons from "./SocialIcons.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header class="w-full max-w-7xl rounded-b-lg bg-gray-100">
  <nav class="m-4 flex items-center justify-between transition">
    <h2><a href={translatePath("/")}>WaSeidev</a></h2>
    <div class="flex gap-5">
      <HeaderLink href={translatePath("/")}>{t("nav.home")}</HeaderLink>
      <HeaderLink href={translatePath("/blog")}>{t("nav.blog")}</HeaderLink>
      <HeaderLink href={translatePath("/about")}>{t("nav.about")}</HeaderLink>
      <HeaderLink href={translatePath("/cv")}>{t("nav.cv")}</HeaderLink>
    </div>
    <SocialIcons />
  </nav>
</header>
