---
import SocialIcons from "@/components/layouts/SocialIcons.astro";
import LanguagePicker from "./LanguagePicker.astro";
---

<footer
  class="my-2 rounded-lg bg-gray-200 shadow dark:bg-gray-800 print:hidden"
>
  <div
    class="mx-auto flex w-full max-w-screen-xl justify-center gap-2 py-2 md:items-center"
  >
    <SocialIcons />
    <LanguagePicker />
  </div>
</footer>
