---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Página no encontrada"
  description="No se encontro la página solicitada"
>
  <section class="flex w-full justify-center">
    <figure class="flex p-10">
      <img src="/assets/images/404.gif" alt="" />
    </figure>
  </section>
</BaseLayout>
