---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout description="Portafolio de Walther Seidel">
  <section class="mt-12 flex min-h-full w-full justify-evenly">
    <div class="flex flex-col justify-center">
      <h1 class="text-7xl font-bold">Walther Seidel</h1>
      <p class="text-lg">Desarrollador Web</p>
    </div>
    <div>
      <img
        class="size-96 rounded-full"
        src="/assets/images/profile.webp"
        alt="Walther Seidel"
      />
    </div>
  </section>
</BaseLayout>
