---
const { projects } = Astro.props;
const filteredProjects = projects.slice(0, 3);
---

<section>
  {
    filteredProjects.map(
      ({
        url,
        title,
        description,
      }: {
        url: string;
        title: string;
        description: string;
      }) => (
        <a href={url} class="card">
          <h3>{title}</h3>
          <p>{description}</p>
        </a>
      ),
    )
  }
</section>
<style>
  section {
    grid: template-columns repeat(3, 1fr);
    gap: 2rem;
  }
</style>
