---
import FormattedDate from "@/components/FormattedDate.astro";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const lang = getLangFromUrl(Astro.url);

const translatePath = useTranslatedPath(lang);
const posts = (
  await getCollection("blog", ({ data }) => {
    return data.lang === lang;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout
  title="Entradas del blog"
  description="Tareas realizadas día a día en la creación de mi primer blog"
>
  <section>
    <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        posts.map((post) => (
          <li class="rounded-lg border transition-all duration-300 first:col-span-3 hover:shadow-lg">
        <a href={`${translatePath('/blog')}/${post.slug}/`}>
              <img
                class="w-full rounded-t-lg"
                src={post.data.heroImage}
                alt=""
              />
              <article class="m-4">
                <h4 class="text-3xl font-bold">{post.data.title}</h4>
                <p class="text-sm text-gray-500">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </article>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
