---
import { getLangFromUrl } from "@/i18n/utils";

const { date } = Astro.props;

const dateOptions: object = {
  year: "numeric",
  month: "short",
};
const lang = getLangFromUrl(Astro.url);
---

<span>{new Date(date).toLocaleDateString(lang, dateOptions)}</span>
