---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === `/${subpath?.[0]}`;
---

<a
  href={href}
  class:list={[
    "flex border-b-2 mb-0 h-min border-transparent hover:border-b-orange-400 transition-all duration-200 ease-in-out",
    { "border-b-blue-400": isActive },
  ]}
  {...props}
>
  <slot />
</a>
