---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  class="relative cursor-pointer rounded transition-all duration-300 ease-in-out hover:shadow-lg"
  href={href}
  target="_blank"
>
  <span class="sr-only">Follow Astro on Mastodon</span>
<slot />
</a>
