---
import FormattedDate from "./FormattedDate.astro";

const { startDate, endDate } = Astro.props;
---

<div class="text-xs font-light italic">
  <FormattedDate date={startDate} showDay={false} /> -
  {endDate ? <FormattedDate date={endDate} showDay={false} /> : "Actualidad"}
</div>
